
{% extends 'base.html' %}

{% block title %} Listado de blogs {% endblock %}

{% block section %}
    <h1 class="well">Listado de blogs en la plataforma</h1>
    {% if blogs|length > 0 %}
        {%for blog in blogs %}
            <p>
                <a href="blogs/{{ blog.owner.username }}">
                    {{ blog.title }}
                </a>
                ({{ blog.owner.first_name }})
            </p>
        {% endfor %}
    {% else %}
        No existe ningún blog en este momento.
    {% endif %}
{% endblock %}