
{% extends 'base.html' %}

{% block title %} Listado de blogs {% endblock %}

{% block section %}
    <h1>Listado de blogs en la plataforma</h1>
    {% if blogs|length > 0 %}
        {%for blog in blogs %}
            <p>
                <a href="blog/{{ blog.pk }}">
                    Blog de {{ blog.owner.first_name }} {{ blog.owner.last_name }}
                </a>
            </p>
        {% endfor %}
    {% else %}
        No existe ningún blog en este momento.
    {% endif %}
{% endblock %}