{% extends 'base.html' %}

{% block title %} {{ blog.title }} {% endblock %}

{% block section %}
    <h1>Listado de post en el blog "{{ blog.title }}"</h1>
    {{ blog.post }}
    {% if blog.post|length > 0 %}
        {%for blog in blogs %}
            <p>
                <a href="blogs/{{ blog.owner.username }}">
                    {{ blog.title }}
                </a>
                ({{ blog.owner.first_name }})
            </p>
        {% endfor %}
    {% else %}
        No existe ningún post en este blog.
    {% endif %}
{% endblock %}