<table class="table table-striped">
    <thead>
        <th>Imagen</th>
        <th>Título</th>
        <th>Resumen</th>
    </thead>
    <tbody>
        {%for post in posts %}
            <tr>
                <td>
                    <img src="{{ post.image_url }}" class="img-responsive img-rounded" height="300px" width="300px">
                </td>
                <td>
                    <a href="blogs/{{ post.blog.owner.username }}/{{ post.pk }}">
                    {{ post.title }}
                    </a>
                </td>
                <td>
                    {{ post.summary }}
                </td>
            </tr>
        {% endfor %}
    </tbody>

</table>